<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="user" class="org.study.bean.User">

        <property name="id" value="1"></property>
        <property name="userName" value="达摩老祖"></property>

       <!-- <property name="address">
            <value><![CDATA[<<南京>>]]></value>
        </property>-->
    </bean>
</beans>